body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("/images/bitcoin1.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
    color: #343a40e0;
}

.form {
  padding-top: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.select {
  margin-right: 5px;
}
